/*
COLORS USED
green: #0e6311
white: #ffffff
dark green:#062a0e
light grey:#ececec
dark grey:##969696 */



*{margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;}

.wrapper{max-width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 0%;}

body{line-height: 1.6;;
    margin:2rem;
    font-family: Arial, Helvetica, sans-serif;}

.logo{height:5rem;
    width: auto; 
    margin-bottom:2.2rem ;}

.masthead{position:absolute;
    left: 13rem;
    top: 54.5rem;}
    
.masthead h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    color:white;
    line-height: 1.4;}
    
.mast{width: 100%;
    height: auto;}

.masthead p{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.45;
    color: white;} 

.navbar-des{display: flex;
    flex-direction: column;}

    li,a{text-decoration: none;
    list-style: none;
    color: rgb(14, 99, 17);
    padding: 0.5 rem;}

.navbar-des a:hover{background-color: rgb(6, 42, 14);
    color: white;
    border-style: none;}

h1{margin-top:2rem;
    margin-bottom:2rem;}

.navbar-mob{text-decoration: none;
    align-items:baseline;
    flex-direction: column;
    justify-content:space-evenly;
    list-style: none;}

.navbar-mob a{color: rgb(6, 42, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.navbar-mob ul{display: flex;
    flex-direction: column;
    justify-content: space-between;}

.line{border-style: none;
    height:0.1rem;
    background-color: rgb(236,236,236);}

.line2{height: 0.3rem;
    border-style: none;
    background-color: rgb(236, 236, 236);}

.nav-link-des {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgb(236,236,236);}

button{height: 5rem;    
    width: 5rem;
    border-style: none;
    border-radius:0.5rem ;}

button:hover{background-color: rgb(150, 150, 150);}

button img{height: 3rem;
    width: 3rem;}

img{width: 20rem;
    height: auto;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem ;}

p{display:flex;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.4rem;}

h2{margin-top: 0.5rem;
    margin-bottom: 0.5rem;}

    footer{margin: 2rem;}

    footer ul{display:flex;
    justify-content: space-evenly;
flex-direction: row;}

    footer img{height: 2rem;
    width: auto;}

@media(max-width:60rem){

            .navbar-mob{display: inline;}
            body{line-height: 0.75rem}
            .navbar-des{display: none;}

            p{display:flex;
                text-align: left;
                font-size: 0.9rem;
                line-height: 0.90rem;}

            .masthead{position:absolute;
                left: 5.4rem;
                top: 30.8rem;}
            
            .masthead h3 {
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 1.5rem;
                color:white;
                line-height: 1.4;}
            
            .mast{
               width: 100%;
               height: auto;}
        
            .masthead p {
                font-size: 0.7rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                line-height: 0.75;
                color: white;} 

            img {
                width: 100%;
                height: auto;
                margin-bottom: 0.75rem;
                margin-top: 0.5rem ;}

}


 @media(min-width:60rem){
    .navbar-des{display: block;}
    .navbar-des ul{display: flex;
        justify-content: space-between;}

    
    .nav-items li header{display: flex;
        align-items: center;
        justify-content: space-between;}

    

    .navbar-mob{display: none;}
} 